################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp5/FileContentIndex/3317d4d2-5ed9-43bf-975f-2dcede69140a.vsidx
/.vs/ConsoleApp5/FileContentIndex/818fd953-10bc-41fe-88c7-b10fd1fe1e3f.vsidx
/.vs/ConsoleApp5/FileContentIndex/ed28411b-9c57-4f45-a47e-0fdad20b80bd.vsidx
/.vs/ConsoleApp5/FileContentIndex/efef8abd-defa-4166-ba35-85622d539038.vsidx
/.vs/ConsoleApp5/FileContentIndex/read.lock
