################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp5/FileContentIndex/3317d4d2-5ed9-43bf-975f-2dcede69140a.vsidx
/.vs/ConsoleApp5/FileContentIndex/818fd953-10bc-41fe-88c7-b10fd1fe1e3f.vsidx
/.vs/ConsoleApp5/FileContentIndex/ed28411b-9c57-4f45-a47e-0fdad20b80bd.vsidx
/.vs/ConsoleApp5/FileContentIndex/efef8abd-defa-4166-ba35-85622d539038.vsidx
/.vs/ConsoleApp5/FileContentIndex/read.lock
/.vs/ConsoleApp5/DesignTimeBuild/.dtbcache.v2
/.vs/ConsoleApp5/FileContentIndex/398a82a3-6ea7-4f19-813e-5fed487d3ead.vsidx
/.vs/ConsoleApp5/FileContentIndex/d9423bcb-ad6b-4c62-b250-6db99fc6c4bf.vsidx
/ConsoleApp5/bin/Debug/net6.0/SpecialCharactersRemover.deps.json
/ConsoleApp5/bin/Debug/net6.0/SpecialCharactersRemover.dll
/ConsoleApp5/bin/Debug/net6.0/SpecialCharactersRemover.exe
/ConsoleApp5/bin/Debug/net6.0/SpecialCharactersRemover.pdb
/ConsoleApp5/bin/Debug/net6.0/SpecialCharactersRemover.runtimeconfig.json
/ConsoleApp5/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ConsoleApp5/obj/Debug/net6.0/apphost.exe
/ConsoleApp5/obj/Debug/net6.0/ref/SpecialCharactersRemover.dll
/ConsoleApp5/obj/Debug/net6.0/refint/SpecialCharactersRemover.dll
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.AssemblyInfoInputs.cache
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.assets.cache
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.csproj.AssemblyReference.cache
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.csproj.BuildWithSkipAnalyzers
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.csproj.CoreCompileInputs.cache
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.csproj.FileListAbsolute.txt
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.dll
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.genruntimeconfig.cache
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.GlobalUsings.g.cs
/ConsoleApp5/obj/Debug/net6.0/SpecialCharactersRemover.pdb
/ConsoleApp5/obj/project.assets.json
/ConsoleApp5/obj/project.nuget.cache
/ConsoleApp5/obj/SpecialCharactersRemover.csproj.nuget.dgspec.json
/ConsoleApp5/obj/SpecialCharactersRemover.csproj.nuget.g.props
/ConsoleApp5/obj/SpecialCharactersRemover.csproj.nuget.g.targets
/.vs/ConsoleApp5/FileContentIndex/272f6531-7ccb-48f0-be27-8433f731e0bc.vsidx
/.vs/ConsoleApp5/v17/.suo
/ConsoleApp5/obj/Debug/net6.0/
/.vs/ConsoleApp5/FileContentIndex/9168706e-1de1-4bdb-8318-9313e23d9138.vsidx
/.vs/ConsoleApp5/FileContentIndex/c521f909-7689-449f-be1e-4b43241452f7.vsidx
